/* Body */
body {
    margin: 0%; /* To ensure the site displays all the way to the edge of the browser screen */
}

/* Navbar */
.Navbar {
    overflow: hidden; /*This ensures that any overflow content does not display beyond the boundary of the nav bar */
    background-color: black; /*Black nav bar */
    position: fixed; /*I want the navbar to stay at the top of the screen as users scroll */
    top: 0; /*This ensures that there is no empty space above the nav bar */
    width: 100%; /*This makes the nav bar span the full width of the page */
    z-index: 1 /*This ensures other elements dont display over the navbar */
}

/*Navbar text */
.Navbar a {
    float: left; /*This specifies that the text floats on the left of the navbar */
    display: block; /*This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /*This is the font color for text on the navbar */
    padding: 14px 16px; /*This adds padding around the text */
    text-decoration: none; /*This gets rid of the underlines under the text on the nav bar */
    font-family: Avant Garde, Helvetica; /*This specifies the font family for the text on the navbar*/
    font-size: 20px; /*This specifies the font size for the text on the navbar*/
    text-align: center; /*This centers the text within it container*/
}

/* Navbar hover effect*/
.Navbar a:hover {
    background-color: #B8860B; /*This defines the background color that will display when you hover over the text on the navbar*/
    color: black; /*This defines the font color that will display when you hover over the text on the navbar */
    font-weight: bold; /*this make the text on the navbar bold when a user hovers over it*/
}

/* Navbar home button */
.Navbar a.active { /*The active selector styles a link */
    background-color: #2F4F4F; /*This specifies the background color behind the Home button on the navbar*/
}

/* Video */
#Typing_Video {
    position: fixed; /*This fixes the video on the page */
    right: 1; /* This ensures no space between the edge of the video and the edge of the page */
    bottom: 1; /* This ensures there is no space between the edge of the video and the edge of the page */
    min-width: 100%; /* This ensures the video is displayed across the full width of the page */
    z-index: -1; /* This ensures that the video is displayed behind everything else on the page */
    filter: grayscale(45%);
}


/* Text over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.5); /*This provides a semi-transparent background for the text to sit over */
    color: #B0C4DE;
    width: 100%;
    padding: 20px; /* This adds padding aaround the text so that the background goes slightly beyond the text */
    margin-top: 23%;
}

/*Table - This section covers the styling of the columns and rows within the table */
* { /*The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /*This creates a box with a border within which we will place most of our text */    
}

.Column_1 {
    float: left;
    width: 50%; /*This ensures one column takes up half the page width */
    padding: 10px;
    padding-top: 3%; /*This ensures there is space between the top of the column and our headings */
    height: 450px; /*This sets the height of our column at 400 pixels - if the text within the columns is changed, the column  heights will need to be adjusted accordingly */ 
    background-color: #2F4F4F;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 450px;
    background-color: #B8860B;
}

.Column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 450px;
    background-color: #B8860B;
}

.Row:after { /*This inserts something after the content of selected elements */
    content:""; /*By leaving the blank, the footer will be displayed - removing it makes the footer overwrite a column */
    display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a tabe */
    clear: both; /* This clears any other elements from floating on the left or the right of an element */
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /* We are capitalizing our headings */
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    text-decoration: underline;
    margin-top: 3%;/* Adds a small margin above the headings */
    color: #1a1a1a;
}

/* Paragraph elements */
p {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    letter-spacing: 1px; /* Expands the text slightly*/
    font-size: 17px;
    padding left: 20px;
    padding right: 20px;
    color: #ce9121;
}

/* Center align elements - this embraces all centered text */
center {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Anchor elements */
a {
    color: darkblue; /*Links are black */
}

/*Quotation elements */
q {
    font-style: italic;
    font-weight: bold;
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids pictures of 75% of their color */
    border-radius: 8px; /* This causes images to have slightly rounded edges */
    max-width: 100%;
    height: 340px;
    margin-left: auto; /*This in combination with margin-right, auto centers images */
    margin-right: auto;
    display: block; /* ensures images are able to be centered */
}

/* Contact form */
input[type=text] { /* covers the input section of the contact form */
width: 100%;
padding: 12px;
border: 1px solid #ccc; /* setting a solid border and designating color */
border-radius: 4px; /* slightly rounded edges */
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical; /* This specifies how and element is resized; vertical allows the user to resize the height of the element */
font-family: "Courier New", Courier, monospace;
background-color: black;
}

/* Submit button */
input[type=submit] { 
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New", Courier, monospace;
}

/* Hover effect for the submit button */
input[type:submit]:hover {
    background-color: white; /* Ensures background turns white when hovered over */
    color: black; /* Makes the font tun black when hovered over */
    font-weight: bold;
    transform: scale(1.5); /*Makes the button increase 1.5 times in size */
    transition: transform 1.5s; /* Makes the transition effect last 1.5 seoconds*/
}

/* Form Element */
form {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    font-family: "Trebuchet MS", Optima;
}

/*Center align element hover effect */
center: hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*Paragraph element hover effect */
p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.03);
}

/*Heading 1 element hover effects */
h1:hover {
    color: black;
    font-weight: normal; /*Makes the text no longer bold when hovered over */
}

/* Image element hover effects */
img:hover {
    filter: grayscale(5%); /*Brings back most of the images color when hovered over*/
    transition: transform 1s;
    transform: scale(1.1);
}

/*Footer element */
footer {
    padding: 2%;
    background: rgba(0, 0, 0, 0.5);
}


